<% include header.ejs %>

<link href="/stylesheets/style.css" rel="stylesheet"></link>
<script src="/javascripts/socket.io.js"></script>

<body>

<div>
    <h1><%= userName %></h1>
    <br><br>
    <h1><%= major %></h1>
    <br><br>
    <h1><%= degree %></h1>

</div>
<div class="container" style="margin-top: 20%">

    <div class="row">

        <ul id="messages"></ul>

        <form id="messageForm" action="">
            <input style=" padding: 10px; width: 80%;" id="m" autocomplete="off"/>
            <button class="btn btn-default" style="padding: 10px; width: 18%;">Send</button>
        </form>

    </div>

</div>

</body>

<script>
    var roomName = "test room";
    var socket = io.connect(window.location.origin);

    $(function () {
        $("#m").focus();
        socket.emit('joinRoom', roomName);

        socket.on('msgAlert', function (msg, room_id) {
            $('#messages').append($('<li>').text(msg));
        });

        $('#messageForm').submit(function () {
            if ($('#m').val() != '') {
                socket.emit('sendMsg', $('#m').val());
                $('#m').val('');
            }
            return false;
        });

    });


</script>


</html>
