<% include header.ejs %>


<link href="/stylesheets/style.css" rel="stylesheet"></link>
<script src="/socket.io/socket.io.js"></script>

<body>

<div class="container">

    <div class="row">

        <ul id="messages"></ul>

        <form id="messageForm" action="">
            <input style=" padding: 10px; width: 80%;" id="m" autocomplete="off"/>
            <button class="btn btn-default" style="padding: 10px; width: 18%;">Send</button>
        </form>

    </div>

</div>

</body>

<script>
    var name = '<%= userName %>';
    var roomName = "test room";

    $(function () {
        $("#m").focus();
        var socket = io();
        socket.emit('joinRoom', roomName, name);

        socket.on('msgAlert', function (msg, room_id) {
            $('#messages').append($('<li>').text(msg));
        });

        $('#messageForm').submit(function () {
            if ($('#m').val() != '') {
                socket.emit('sendMsg', name + ' : ' + $('#m').val());
                $('#m').val('');
            }
            return false;
        });

    });


</script>


</html>
