<% include header.ejs %>


<body>
<div>
    <%
    for(var i = 0; i < _class.length; i++)
    {
    %>
    <div>
        <button type="button" class="btn btn-danger" onclick="moveToCLASSPAGE('<%=_class[i].CLASSID%>')"><%=_class[i].CLASSNAME%></button>
    </div>
    <%
    }
    %>
</div>

</body>

<script type="text/javascript">
    function moveToCLASSPAGE(i) {
        $.ajax({
            url: '/board/getboardid',
            type: 'POST',
            data: {
                id: i
            },
            success: function (result) {
                var data = {
                    boardid : result[0].BOARDID
                }
                location.href = "/class/page/?cid="+i+"&id=" +data.boardid;
            }
        });
    }
</script>

</html>