<% include header.ejs %>

<link href="/stylesheets/style.css" rel="stylesheet"></link>
<script src="/javascripts/socket.io.js"></script>

<body>
<div>
        <h1><%= c_Name %></h1>
        <br><br>
        <h1><%= c_Prof %></h1>
        <br><br>
        <h1><%= c_Time %></h1>
        <br><br>
        <h1><%= c_Day %></h1>
    </div>

</body>

