<% include header.ejs %>
<style>
    .messageform {

        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        float: right;
    }
    .table {
        float:left;
        width: 70%;
    }
    class[class="container"]. {border-style: dashed;}
</style>
<body>

<div class="container">

    <form id="loginForm" method="post" action="/login">
        <div class="form-group">
            <label>학번</label>
            <input type="text" class="form-control" name="user_id" placeholder="Student Id">
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>

</body>

<script>
<% if (error) { %>
    alert("로그인 실패");
<% } %>

</script>

</html>
