<% include header.ejs %>

<body>

<button type="button" class="btn btn-danger" onclick="logout()">Log out</button>


<div class="container">
    <div>
        <h1><%= userName %></h1>
        <br><br>
        <h1><%= major %></h1>
        <br><br>
        <h1><%= degree %></h1>
        <br><br>
    </div>
    <div>
        <button type="button" class="btn btn-danger" onclick="moveToChat()">그룹페이지 이동</button>
    </div>

</div>

</body>

<script type="text/javascript">
    function moveToChat() {
        location.href = "/chat";
    }
    function logout() {
        location.href = "/logout";
    }
</script>


</html>
