<!DOCTYPE html>
<html lang="en">

<link rel='stylesheet' href='/fullcalendar/dist/fullcalendar.css'/>
<script src="/javascripts/jquery-3.1.0.min.js"></script>
<script src='/moment/min/moment.min.js'></script>
<script src='/fullcalendar/dist/fullcalendar.js'></script>

<script>
    var ls = <%- JSON.stringify(list) %>;
    console.log(ls);
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: 'title',
                right: ''
            },
            events: ls ,
            editable: false,
            allDayDefault: false,
            defaultView: 'agendaWeek',
            dayClick: function (start, end, jsEvent, view) {
                var abc = prompt('Enter Title');
                var allDay = !start.hasTime && !end.hasTime;
                var newEvent = {};
                newEvent.title = abc;
                newEvent.start = moment(start).format();
                newEvent.editable = true;
                $('#calendar').fullCalendar('renderEvent', newEvent);
            }
        });
    });
</script>

<body>

<div class="container">

    <div id='calendar'></div>

</div>

</body>

</html>