<% include header.ejs%>

<link rel='stylesheet' href='/fullcalendar/dist/fullcalendar.css'/>
<script src="/javascripts/jquery-3.1.0.min.js"></script>
<script src='/moment/min/moment.min.js'></script>
<script src='/fullcalendar/dist/fullcalendar.js'></script>

<script>
    var ls = <%- JSON.stringify(list) %>;
    console.log(ls);
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            //resourceAreaWidth: 230,
            //slotWidth : 1,
            height : $(window).height() - 160,
            //width : $(window).width()/2,
            aspectRatio: 2,
            minTime : '09:00:00',
            maxTime : '23:00:00',
            scrollTime :'09:00:00',
            header: {
                left: '',
                center: 'title',
                right: ''
            },
            events: ls ,
            hiddenDays:[0,6],
            editable: false,
            allDayDefault: false,
            defaultView: 'agendaWeek'
        });
    });
</script>

<body>

<div class="container" >
    <div class="row">
        <div class="col-xs-4">
            <div id='calendar' style="border: 1px solid gold; padding: 10px; height: auto; overflow: auto;"></div>
        </div>
    </div>


</div>

</body>

</html>